<div class="page-header">
  <h1>Your Orders</h1>
</div>

<div class="row">
  <div class="col-xs-12 table-responsive">
    <table class="table table-hover">
      <thead>
      	<tr>
      	  <th>ID</th>
      	  <th>Items</th>
      	  <th>Shipping Address</th>
      	  <th>Total</th>
      	  <th>Stauts</th>
      	  <th>Action</th>
      	</tr>
      </thead>
      <tbody>
      	<% @orders.each do |order| %>
      	<tr>
      	  <td><%= order.id %></td>
      	  <td>
      	  	<ul class="media-list">
	      	<% order.order_items.each do |order_item| %>
      	  	  <li class="media">
		        <% unless order_item.image.nil? %>
		        <div class="media-left media-middle">
		      	  <img class="media-object" src="<%= order_item.image %>" />
		        </div>
		        <% end %>
		        <div class="media-body">
		      	  <h4 class="media-heading"><%= order_item.title %></h4>
		          <p class="text-danger">Price: <%= order_item.price %></p>
		      	  <p class="text-danger">Quantity: <%= order_item.quantity %></p>
		        </div>
	          </li>
	      	<% end %>
	        </ul>
      	  </td>
      	  <td>
      	  	<% unless order.shipping_address.nil? %>
      	  	<% addr = JSON.parse order.shipping_address %>
      	  	<ul class="list-group">
      	  	<% addr.each_pair do |key, value| %>
      	  	  <li class="list-group-item"><%= key %>: <%= value %></li>
      	  	<% end %>
      	  	</ul>
      	  	<% end %>
      	  </td>
      	  <td><%= order.total %></td>
      	  <td><%= order.status.capitalize %></td>
      	  <td><%= link_to 'Update Status', update_order_status_url(order), class: 'btn btn-primary' %></td>
      	</tr>
      	<% end %>
      </tbody>
    </table>
  </div>
</div>