<div class="row">
  <% if @shipping_address.id.nil? %>
  <% options = { method: :post, url: user_shipping_addresses_path } %>
  <% else %>
  <% options = { method: :put, url: user_shipping_address_path(@shipping_address) } %>
  <% end %>
  <% options[:html] = { class: 'shipping-address-form' } %>

  <%= form_for(@shipping_address, options) do |f| %>
  <% if @shipping_address.errors.any? %>
  <% @shipping_address.errors.full_messages.each do |msg| %>
  <p class="text-danger"><%= msg %></p>
  <% end %>
  <% end %>
  <div class="form-group">
    <div class="input-group input-group-sm">
      <%= f.label :name, class: 'control-label' %>
      <%= f.text_field :name, class: 'form-control', placeholder: 'Enter Name Here' %>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group input-group-sm">
      <%= f.label :address1, class: 'control-label' %>
      <%= f.text_field :address1, class: 'form-control', placeholder: 'Enter address1 Here' %>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group input-group-sm">
      <%= f.label :address2, class: 'control-label' %>
      <%= f.text_field :address2, class: 'form-control', placeholder: 'Enter address2 Here' %>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group input-group-sm">
      <%= f.label :city, class: 'control-label' %>
      <%= f.text_field :city, class: 'form-control', placeholder: 'Enter city Here' %>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group input-group-sm">
      <%= f.label :state, class: 'control-label' %>
      <%= f.text_field :state, class: 'form-control', placeholder: 'Enter state Here' %>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group input-group-sm">
      <%= f.label :country, class: 'control-label' %>
      <%= f.text_field :country, class: 'form-control', placeholder: 'Enter country Here' %>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group input-group-sm">
      <%= f.label :phone, class: 'control-label' %>
      <%= f.text_field :phone, class: 'form-control', placeholder: 'Enter phone Here' %>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group input-group-sm">
      <%= f.label :default do %>
      <%= f.check_box :default %> Default Address?
      <% end %>
    </div>
  </div>

  <%= f.submit 'Add', class: "btn btn-sm btn-primary" %>
  <% end %>
</div>