<li class="media">
  <% unless product.image.thumb.file.nil? %>
  <div class="media-left">
  	<a href="<%= product_url(product) %>">
  		<image class="media-object" src="<%= product.image.thumb.url %>" />
  	</a>
  </div>
  <% end %>
  <div class="media-body">
  	<h4 class="media-heading">
      <a href="<%= product_url(product) %>">
        <%= product.title %>
      </a>
    </h4>
  	<p><%= product.description %></p>
  </div>
</li>