<div class="panel panel-default">
  <div class="panel-heading">Catalog</div>
  <div class="panel-body">
  	<a href="<%= new_product_url %>" class="btn btn-primary">Add Product</a>
  </div>
  <table class="table">
  	<thead>
  	  <tr>
  	  	<th>ID</th>
  	  	<th>Image</th>
  	  	<th>Title</th>
  	  	<th>Price</th>
  	  	<th>Inventory</th>
  	  	<th>Action</th>
  	  </tr>
  	</thead>
  	<tbody>
  	  <% @products.each do |product| %>
  	  <tr>
  	  	<td><%= product.id %></td>
  	  	<% if product.image.file.nil? %>
  	  	<td></td>
  	  	<% else %>
  	  	<td>
  	  	  <img src="<%= product.image.thumb.url %>" />
  	  	</td>
  	  	<% end %>
  	  	<td><%= product.title %></td>
  	  	<td><%= product.price %></td>
  	  	<td><%= product.inventory %></td>
  	  	<td>
  	  	  <%= link_to 'Edit', edit_product_url(product), class: 'btn btn-xs btn-primary' %>
  	  	  <%= link_to 'Delete', delete_product_url(product), method: :delete, data: { confirm: "You cannot recover the meterial that has been deleted. \n\nDo you still want to delete?" }, class: 'btn btn-xs btn-danger' %>
  	  	</td>
  	  </tr>
  	  <% end %>
  	</tbody>
  </table>
</div>