<div class="page-header">
  <h1>Catalog</h1>
</div>

<div class="row">
  <% if @products.nil? or @products.size <= 0 %>
  <p>There is no product now!</p>
  <% else %>
  <ul class="media-list">
    <%= render partial: 'product', collection: @products %>
  </ul>
  <% end %>
</div>
